@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 4px;
    border: none;
    display: block;
    margin: 15px auto 5px;
    font-size: 12px;
    background-color:#0866E4;
    border-radius: 5%;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(102, 97, 97, 0.6);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.closebutton
{
    border: none;
    background: #0866E4;
    color: white;
    font-size: 14px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.content{
    font-size: 12px;
}